body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url(assets/imagem_fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    color: #FFFFFF;
    font-size: 18px;
    }
    
    .containerGlobal {
    width: 1000px;
    height: 500px;
    background-color:#1D232E;
    display: flex;
    position: absolute;
    bottom: 0;
    /* border: 2px solid #FF0000; */
    }


strong {
    color: aqua;
}

/*
p {
    text-align: center;
}
*/

.containerEsquerdo {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid #EB00FF; */
}

.containerEsquerdo .tituloDescricao {
    text-align: justify;
    padding-left: 48px;
    line-height: 1.8;
}

.containerEsquerdo .textoDescricao {
    text-align: justify;
    padding-left: 48px;
    padding-right: 48px;
    line-height: 1.8;
}

.containerDireito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    /* border: 2px solid #00A3FF; */
}

.containerImagens {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    /* border: 2px solid #FFFFFF; */
}

.estiloArcoDecorativo {
    position: absolute;
    top: -9px;
    left: 180px;
}

.containerContatos {
    /* height - Altura */
    /* width  - Larguta */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 2px solid #42FF00; */
}

.containerContatos img {
    width: 42px;
}

.estiloArcoDecorativo {
    width: 107px;
}

img {
    width: 207px;
} 

/* mobile */
/* @media screen and (max-width:500px){} */

/* Computador */
/* @media screen and (min-width: 500px){} */