body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url(assets/imagem_fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    color: #FFFFFF;
    font-size: 18px;
    }
    
    .containerGlobal {
    width: 50%;
    height: 50%;
    background-color:#1D232E;
    display: flex;
    border: 1px solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
    }


strong {
    color: aqua;
}

/*
p {
    text-align: center;
}
*/

.containerEsquerdo {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid #EB00FF; */
}

.containerEsquerdo .tituloDescricao {
    text-align: justify;
    padding-left: 48px;
    line-height: 1.8;
}

.containerEsquerdo .textoDescricao {
    text-align: justify;
    padding-left: 48px;
    padding-right: 48px;
    line-height: 1.8;
    font-size: 0.9em;
}

.containerDireito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.containerImagens {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.estiloArcoDecorativo {
    position: absolute;
    top: -5%;
    left: 55%; 
    max-width: 50%;
}

.fotoPerfil {
    max-width: 100%;
}

.containerContatos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.containerContatos img {
    width: 42px;
}

.estiloArcoDecorativo {
    width: 107px;
}

img {
    width: 207px;
}


/*  
Dentro desse contexto/bolha de código, está todo o CSS para telas de até 375px 
width: largura
*/
@media screen and (max-width: 425px){
    .containerEsquerdo .tituloDescricao {

        font-size: 28px;
        padding-left: 0;
    }
    img {
        width: 114px;
    }
    .containerEsquerdo .textoDescricao {
        text-align: justify;
        padding-left: 0;
        line-height: 1.8;
        font-size: 0.9em;
    }
    p {
        font-size: 26px;
    }
}

