body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url(assets/imagem_fundo.jpg);
    background-size: cover;
    justify-content: center;
    
    }
    
    .containerGlobal {
    width: 1000px;
    height: 500px;
    background-color:#1D232E;
    display: flex;
    position: absolute;
    bottom: 0;
    }
/* 
strong {
    color: aqua;
}

p {
    text-align: center;
}
*/

img {
    width: 207px;
} 